___

<a href='http://www.google.com'> <img src='../logo_padded.png' /></a>
___

# NumPy 

NumPy (or Numpy) is a Linear Algebra Library for Python, the reason it is so important for Data Science with Python is that almost all of the libraries in the PyData Ecosystem rely on NumPy as one of their main building blocks.

Numpy is also incredibly fast, as it has bindings to C libraries. For more info on why you would want to use Arrays instead of lists, check out this great [StackOverflow post](http://stackoverflow.com/questions/993984/why-numpy-instead-of-python-lists).

We will only learn the basics of NumPy, to get started we need to install it!

## Installation Instructions

**It is highly recommended you install Python using the Anaconda distribution to make sure all underlying dependencies (such as Linear Algebra libraries) all sync up with the use of a conda install. If you have Anaconda, install NumPy by going to your terminal or command prompt and typing:**
    
    conda install numpy
    
**If you do not have Anaconda and can not install it, please refer to [Numpy's official documentation on various installation instructions.](http://docs.scipy.org/doc/numpy-1.10.1/user/install.html)**

## Using NumPy

Once you've installed NumPy you can import it as a library:

In [10]:
import numpy as np

Numpy has many built-in functions and capabilities. We won't cover them all but instead we will focus on some of the most important aspects of Numpy: vectors,arrays,matrices, and number generation. Let's start by discussing arrays.

# Numpy Arrays

NumPy arrays are the main way we will use Numpy throughout the course. Numpy arrays essentially come in two flavors: vectors and matrices. Vectors are strictly 1-d arrays and matrices are 2-d (but you should note a matrix can still have only one row or one column).

Let's begin our introduction by exploring how to create NumPy arrays.

## Creating NumPy Arrays

### From a Python List

We can create an array by directly converting a list or list of lists:

In [11]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [16]:
np.array(my_list)

array([1, 2, 3])

perlu diperhatikan, `np.array()` memasukkan *list* sebagai *element* dari *array*, **bukan mengubah *list* menjadi *array***

In [13]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

## Built-in Methods

There are lots of built-in ways to generate Arrays

### arange

Return evenly spaced values within a given interval.

Dengan memberikan 2 parameter, `np.arrange()` menghasilkan nilai dengan ketentuan `param_1 <= nilai < param_2`

In [15]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

### zeros and ones

Generate arrays of zeros or ones

In [17]:
np.zeros(3)

array([0., 0., 0.])

untuk menghasilkan nilai multi dimensi, kita perlu melewatkan *tuple* sebagai *parameter* dalam `np.zeros()`. Sebagai contoh, `np.zeros((2,3))` akan menghasilkan 2 baris (*row*) dan 3 kolom (*collumn*)

In [18]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [19]:
np.ones(3)

array([1., 1., 1.])

Sama seperti `np.zeros()`, `np.ones()` menghasilkan nilai dengan jumlah baris (*row*)  dan kolom (*colllumn*) sesuai *tuple* yang dilewatkan sebagai *parameter*

In [20]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### linspace
Return evenly spaced numbers over a specified interval.

parameter ketiga (sebut saja `param_3`) pada `np.linspace()` menunjukkan banyak nilai yang dibuat oleh `np.linspace()`  
dengan interval yang sama

In [21]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [22]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

## eye

Creates an identity matrix

In [23]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## Random 

Numpy also has lots of ways to create random number arrays:

### rand
Create an array of the given shape and populate it with
random samples from a uniform distribution
over ``[0, 1)``.

In [24]:
np.random.rand(2)

array([0.66377468, 0.95511708])

Tidak seperti `np.zeros()` dan `np.ones()`, untuk menghasilkan nilai multi dimensi dalam `np.random.rand()`, kita hanya perlu melewatkan *parameter* sebanyak dimensi yang kita inginkan

In [25]:
np.random.rand(5,5)

array([[0.53563325, 0.65024646, 0.32608881, 0.98645585, 0.03060434],
       [0.89088512, 0.13797005, 0.72921948, 0.93881185, 0.28221378],
       [0.69519515, 0.28756939, 0.59294511, 0.85291348, 0.86290125],
       [0.5764017 , 0.48608283, 0.09269683, 0.60914711, 0.38857663],
       [0.96272739, 0.30940365, 0.96567915, 0.85224907, 0.78000616]])

### randn

Return a sample (or samples) from the "standard normal" distribution. Unlike rand which is uniform:

Untuk grafik *standard normal distribution*, silahkan buka [link ini](https://www.mathsisfun.com/data/standard-normal-distribution-table.html)

In [52]:
np.random.randn(2)

array([-1.19387195, -0.49351847])

In [51]:
np.random.randn(5,5)

array([[-1.17196006, -0.07318214, -0.90684067,  0.65484397,  1.68457725],
       [-1.14424195, -1.86173376,  0.82637574,  0.83755483, -1.14749025],
       [-0.69000296, -1.08048124, -1.01023004, -0.17037845, -0.2958955 ],
       [ 0.07872477,  1.58420449, -0.34076966, -0.9182159 , -0.0957918 ],
       [ 0.14079486,  0.58203838, -0.75747702, -0.69616765, -1.21972568]])

### randint
Return random integers from `low` (inclusive) to `high` (exclusive).

seperti `np.arange()`, `np.random.randint()` menghasilkan nilai acak `param_1 <= nilai < param_2`

In [62]:
np.random.randint(1,100)

36

*parameter* ketiga dalam fungsi ini merupakan banyak nilai yang dihasilkan. Jika *parameter* ketiga dikosongkan, secara *default* fungsi akan mengembalikan 1 nilai dengan tipe `integer`. Jika *parameter* ketiga diisi dengan `n`, fungsi akan mengembalikan `n` nilai yang dijadikan sebuah `array`

In [65]:
np.random.randint(1,100,1)

array([45])

In [66]:
np.random.randint(1,100,5)

array([51, 20, 55, 90, 69])

## Array Attributes and Methods

Let's discuss some useful attributes and methods or an array:

In [30]:
arr = np.arange(25)
ranarr = np.random.randint(0,50,10)

In [31]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [32]:
ranarr

array([30, 15, 19, 34,  3, 31, 35,  2, 36, 21])

## Reshape
Returns an array containing the same data with a new shape.

`reshape()` mengubah bentuk data menjadi `n` dimensi sesuai *parameter* dengan urutan data sesuai aslinya

In [67]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [69]:
ranarr.reshape(2,5)

array([[30, 15, 19, 34,  3],
       [31, 35,  2, 36, 21]])

In [74]:
ranarr.reshape(1,2,5)

array([[[30, 15, 19, 34,  3],
        [31, 35,  2, 36, 21]]])

### max,min,argmax,argmin

These are useful methods for finding max or min values. Or to find their index locations using argmin or argmax

`max()` menghasilkan nilai terbesar, `min()` menghasilkan nilai terkecil, `argmax()` menghasilkan *index* dari nilai terbesar, dan `argmin()` menghasilkan *index* dari nilai terkecil. Ingat! dalam *python*, *index* dimulai dari 0

In [34]:
ranarr

array([30, 15, 19, 34,  3, 31, 35,  2, 36, 21])

In [35]:
ranarr.max()

36

In [36]:
ranarr.argmax()

8

In [37]:
ranarr.min()

2

In [38]:
ranarr.argmin()

7

## Shape

Shape is an attribute that arrays have (not a method):
Shape mengembalikan banyak nilai yang disimpan dalam array

In [39]:
# Vector
arr.shape

(25,)

In [40]:
# Notice the two sets of brackets
arr.reshape(1,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

jika array berdimensi `n`, `shape` akan mengembalikan banyak nilai di dimensi ke 1, 2, ... ,`n`

In [78]:
arr.reshape(1,25).shape

(1, 25)

In [76]:
arr.reshape(25,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [43]:
arr.reshape(25,1).shape

(25, 1)

### dtype

You can also grab the data type of the object in the array:

`dtype` mengembalikan jenis dari *element* array

In [80]:
arr.dtype

dtype('int64')

# Great Job!